@import "themes";

.header {
    text-align: center;
    background-color: $primary-color;
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;

    &__heading {
        padding-bottom: 20px;
        background-color: $primary-color;
        font-family: $secondary-font;
    }
    &__para {
        background-color: $primary-color;
        padding: 0 20px;
    }
}

.search-bar {
    background-color: $secondary-color;
    padding: 2vw;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;

    &__text {
        width: 68vw;
        border-radius: 5px;
        border: 2px solid $primary-color;
        background-color: white;
    }
    &__btn {
        width: 10vw;
        height: 30px;
        border: 2px solid $primary-color;
        border-radius: 5px;
        background-color: white;
        color: $primary-color;
        &:hover {
            background-color: $primary-color;
            color: white;
        }
    }
}
